{
  "env": {
    "es6": true,
    "browser": true,
    "jest": true
  },
  "extends": "eslint:recommended",
  "parserOptions": {
    "sourceType": "module"
  },
  "globals": {
    "document": true,
    "window": true,
    "require": true,
    "module": true,
    "__dirname": true,
    "process": true
  },
  "parser": "babel-eslint",
  "rules": {
    "no-console": "off",
    "no-case-declarations": "off",
    "no-cond-assign": "error",
    "no-debugger": "error",
    "no-dupe-args": "error",
    "no-dupe-keys": "error",
    "no-duplicate-case": "error",
    "no-empty": "error",
    "no-ex-assign": "error",
    "no-extra-boolean-cast":  "error",
    "no-func-assign": "error",
    "no-var": "error",
    "no-irregular-whitespace": "error",
    "no-template-curly-in-string": "error",
    "valid-jsdoc": "error",
    "no-unsafe-negation": "error",
    "valid-typeof": ["error", { "requireStringLiterals": true }],
    "array-callback-return":  "error",
    "indent": ["error", 2, { "SwitchCase": 1 }],
    "linebreak-style": ["error", "unix"],
    "semi": ["error","never"],
    "eol-last": ["error", "always"],
    "quotes": ["error", "single", { "allowTemplateLiterals": true, "avoidEscape": true }],
    "consistent-return":  "error",
    "curly": "error",
    "default-case": "warn",
    "dot-location": ["error", "property"],
    "eqeqeq": "error",
    "no-caller": "error",
    "no-else-return": "error",
    "no-empty-function": "error",
    "no-empty-pattern": "error",
    "no-eq-null": "error",
    "no-eval": "error",
    "no-extend-native": "error",
    "no-extra-label": "error",
    "no-extra-bind": "error",
    "no-fallthrough": "error",
    "no-global-assign": "error",
    "no-implicit-globals": "error",
    "no-implied-eval": "error",
    "no-invalid-this": "error",
    "no-lone-blocks": "error",
    "no-multi-spaces": "error",
    "no-multi-str": "error",
    "no-new-func": "error",
    "no-new": "error",
    "no-param-reassign": "warn",
    "no-redeclare": "error",
    "no-return-assign": "error",
    "no-self-assign": "error",
    "no-self-compare": "error",
    "no-sequences": "error",
    "no-throw-literal": "error",
    "no-unused-expressions": "error",
    "no-useless-call": "error",
    "no-useless-concat": "error",
    "no-useless-escape": "error",
    "no-useless-return": "error",
    "no-with": "error",
    "yoda": "error",
    "init-declarations": ["error", "always"],
    "no-catch-shadow": "error",
    "no-delete-var": "error",
    "no-label-var": "error",
    "no-shadow-restricted-names": "error",
    "no-shadow": "error",
    "no-undef-init": "error",
    "no-undef": "error",
    "no-unused-vars": "error",
    "array-bracket-spacing": ["error", "never"],
    "block-spacing": "error",
    "brace-style": "error",
    "camelcase": "error",
    "arrow-body-style": ["error", "as-needed"],
    "arrow-parens": ["error", "as-needed"],
    "no-class-assign": "error",
    "no-const-assign": "error",
    "no-duplicate-imports": "error",
    "no-dupe-class-members": "error",
    "no-new-symbol": "error",
    "no-this-before-super": "error",
    "no-useless-computed-key": "error",
    "no-useless-constructor": "error",
    "object-shorthand": ["error", "always"],
    "prefer-arrow-callback": "error",
    "prefer-const": "error",
    "prefer-rest-params": "error",
    "prefer-spread": "error",
    "prefer-template": "error",
    "symbol-description": "error",

    "no-void": "warn",
    "no-unmodified-loop-condition": "warn",
    "no-new-wrappers": "warn",
    "no-loop-func": "warn",
    "no-labels": "warn",
    "no-implicit-coercion": "warn"
  }
}